$primary-color: #0f1921;
$secondary-color: #cc3542;
$tertiary-color: white;

$button-background: #ebebed;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $tertiary-color;
  padding: 10px 20px;
}

.navbar-logo {
  width: 250px;
  height: auto;
}

.navbar-links {
  display: flex;
}

.nav-link {
  color: $tertiary-color;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $secondary-color;
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.icon-bar {
  display: flex;
  justify-content: space-around;
  background-color: $primary-color;
  padding: 20px;
}

.icon-item {
  text-align: center;
  color: $tertiary-color;
  transition: transform 0.3s ease;

  a,
  button {
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &:hover {
      transform: scale(1.1);
    }
  }

  i {
    margin-right: 5px;
  }
}

.red-square {
  background-color: $secondary-color;
  padding: 40px;
  margin-right: 20px;
  width: 300px;
  height: 350px;
}

.black-square {
  background-color: $primary-color;
  width: 400px;
  height: 250px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.star-wars-text {
  color: $tertiary-color;
  font-size: 6em;
  transform: rotate(90deg);
  margin-top: -150px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0.3;
  width: 20px;
}

.about-title,
.about-subtext,
.data-title,
.data-subtext {
  color: $tertiary-color;
  font-size: 1.8em;
  margin-bottom: 10px;
  width: 220px;
  text-align: start;
  margin-left: 30px;

  &.about-subtext,
  &.data-subtext {
    font-size: 1em;
    margin-top: 10px;
  }
}

.discover-btn {
  background-color: $button-background;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &:hover {
    background-color: #000;
    color: $tertiary-color;
  }
}

.helmet {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.data-display {
  font-size: 1em;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lighten($tertiary-color, 20%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

@keyframes pulsate {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

.arrow,
.left-arrow,
.right-arrow {
  cursor: pointer;
  font-size: 1.5em;
  color: #000;
  width: 80px;
  height: 80px;
  line-height: 40px;
  text-align: center;
  background-color: $button-background;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  border: 2px solid #000;

  animation: pulsate 2s infinite ease-in-out;

  &.left-arrow {
    left: calc(20%);
  }

  &.right-arrow {
    right: calc(20%);
  }
}

.planete-page {
  background-color: rgba(0, 0, 0, 1);
  background: url("public/etoile.jpg");
  background-size: cover;
  background-position: center;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 180px;
}

.planet-list-container {
  width: 60%;
  background-color: $tertiary-color;
  color: $primary-color;
  padding: 30px;
  margin-right: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.planet-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.planet-list li {
  cursor: pointer;
  margin: 10px 0;
}

.planet-list li:hover {
  text-decoration: underline;
}

.selected-planet-display {
  width: 80%;
  text-align: right;
  position: relative;
}

.planet-name {
  color: $secondary-color;
  margin-right: 50px;
}

.half-sphere {
  width: 500px;
  height: 250px;
  border: solid 3px $tertiary-color;
  border-bottom: none;
  border-radius: 250px 250px 0 0;
  position: fixed;
  right: -150px;
  top: 350px;
  overflow: hidden;
  transform: rotate(-90deg);
}
.highlight-point {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: $tertiary-color;
  border-radius: 50%;
  box-shadow: 0 0 30px 10px red;
  z-index: 1;
}

.planet-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 30px;
  width: 80%;
  margin-left: 100px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-item i {
  margin-right: 15px;
  font-size: 2em;
}

.info-item span {
  font-size: 1em;
}
